body{
margin:0;
font-family:Arial, sans-serif;

```
background:linear-gradient(
    135deg,
    #1e3a8a,
    #7c3aed,
    #ec4899
);

color:white;
```

}

.hero{
min-height:100vh;

```
display:flex;
justify-content:center;
align-items:center;
text-align:center;

background:
linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
),
url("images/hero-dad.jpg");

background-size:cover;
background-position:center;
```

}

.hero-title{
font-size:5rem;
color:#ffd700;
}

.hero-subtitle{
font-size:3rem;
color:white;
}

.message,
.card,
footer{
background:rgba(255,255,255,0.15);
padding:30px;
margin:20px;
border-radius:20px;
}

.message h2,
.gallery h2,
.qualities h2{
color:#ffd700;
text-align:center;
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.card{
width:250px;
}

.quote{
text-align:center;
padding:50px 20px;
font-size:2rem;
color:#ffd700;
}

footer{
text-align:center;
}
